Package: com.karimo299.autoblue
Name: AutoBlue
Depends: mobilesubstrate, preferenceloader, ws.hbang.common, appList
Version: 2.0.0
Architecture: iphoneos-arm
Description: Disables Bluetooth and WiFi after a certain amount of time if there are not connected.
Maintainer: Karimo299
Author: Karimo299
Section: Tweaks
Depiction: https://karimo299.github.io/repo/depictions/?p=com.karimo299.autoblue
SileoDepiction: https://karimo299.github.io/repo/sileo/autoblue/
Icon: https://karimo299.github.io/repo/icons/AutoBlue.png
