Package: com.karimo299.autoublue
Name: AutoBlue
Depends: mobilesubstrate, preferenceloader, ws.hbang.common,  preferenceloader, com.spark.libsparkapplist
Version: 1.1.1
Architecture: iphoneos-arm
Description: Disables Bluetooth after a certain amount of time if there are no devices connected
Maintainer: Karimo299
Author: Karimo299
Section: Tweaks
Depiction: https://karimo299.github.io/repo/depictions/?p=com.karimo299.autoblue
SileoDepiction: https://karimo299.github.io/repo/sileo/autoblue/
Icon: https://karimo299.github.io/repo/icons/AutoBlue.png